
<ul class="nav nav-pills nav-justified">
  <li><%= menu_link_to "トップ",  :root %></li>
  <li><%= menu_link_to "要件目次",  :reqs %></li>
  <li><%= menu_link_to "ｿﾘｭｰｼｮﾝ課題", :solitems %></li>
  <li><%= menu_link_to "ユーザリスト", :users %></li>
</ul>
