<% @page_title = t('activerecord.models.req') %>
<h3 style="border-style: groove; padding: 4px;"><%= @page_title %></h3>

<%= render 'form' %>

<%= link_to '表示', @req %> |
<%= link_to '戻る', reqs_path %>
