<h2>ソリューション課題入力ツール</h2>

<p>PJ向簡易課題入力ツールです。</p>
<p>機械的にフォローする管理には向いていません。</p>
<p>見積段階の抜け漏れをピックアップし、見積に反映すること、
ならびに設計段階に申し送りするリストとしてお使いください。</p>
<p>サービスレベルは以下の通りです。</p>
<h4>利用者機能について</h4>
<ul>
<li>ツールメンテナンスコストカットのため、ログイン機能は割愛しました。</li>
<li>一括更新機能は、オペミスを考えると危険なのでやめました。</li>
<li>ご要望頂ければ、片手間ですが、改良いたします。</li>
</ul>
<h4>運用について</h4>


<div class=well well-sm">

検討項目Webで入れてDB管理しませんか。

</div>
